:root {
  --react-bg-color: #282c34;
  --site-bg-color: #3e535f;
  --main-bg-color: #32434d;
  --secondary-bg-color: #848C8E;
  --tertiary-bg-color: #BFB7B6;
  --cream-color: #F1F2EE;
  --accent-color: #DCF763;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
header {

}
body {
  background-color: var(--main-bg-color);
  color: var(--cream-color);
}

a {
  text-decoration: none;
  color: var(--tertiary-bg-color)
}

a:hover {
  color: var(--accent-color)
}

footer {
  color: var(--secondary-bg-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}